layout {
    pane 
    pane size=1 borderless=true {
        plugin location="zjstatus" {
            format_left   "{mode} {tabs}"
            format_center ""
            format_right  "{pipe_zjstatus_hints}{datetime}#[bg=#7c6f64,fg=#f2e5bc,bold] {session} "
            format_space  ""

            pipe_zjstatus_hints_rendermode "raw"
            pipe_zjstatus_hints_format "{output}"

            border_enabled  "false"
            border_char     "─"
            border_format   "#[fg=#504945]{char}"
            border_position "top"

            hide_frame_for_single_pane "false"

            mode_locked      "#[bg=#b16286,fg=#282828,bold] LOCK "
            mode_normal      "#[bg=#689d6a,fg=#1d2021,bold] NORMAL "
            mode_resize      "#[bg=#d79921,fg=#282828,bold] RESIZE "
            mode_pane        "#[bg=#8ec07c,fg=#1d2021,bold] PANE "
            mode_move        "#[bg=#fabd2f,fg=#3c3836,bold] MOVE "
            mode_tab         "#[bg=#458588,fg=#ebdbb2,bold] TAB "
            mode_scroll      "#[bg=#83a598,fg=#282828,bold] SCROLL "
            mode_search      "#[bg=#fe8019,fg=#1d2021,bold] SEARCH "
            mode_entersearch "#[bg=#fe8019,fg=#1d2021,bold] ENTER SEARCH "
            mode_renametab   "#[bg=#83a598,fg=#282828,bold] RENAME TAB "
            mode_renamepane  "#[bg=#b8bb26,fg=#1d2021,bold] RENAME PANE "
            mode_session     "#[bg=#fb4934,fg=#282828,bold] SESSION "
            mode_tmux        "#[bg=#d3869b,fg=#1d2021,bold] TMUX "

            tab_active              "#[bg=#665c54,fg=#ebdbb2,bold] {index} {name} "
            tab_active_fullscreen   "#[bg=#665c54,fg=#ebdbb2,bold] {fullscreen_indicator} {index} {name} "
            tab_active_sync         "#[bg=#665c54,fg=#ebdbb2,bold] {sync_indicator} {index} {name} "

            tab_normal              "#[fg=#928374,bold] {index} {name} "
            tab_normal_fullscreen   "#[fg=#928374,bold] {fullscreen_indicator} {index} {name} "
            tab_normal_sync         "#[fg=#928374,bold] {sync_indicator} {index} {name} "

            tab_separator " "

            tab_sync_indicator       "⇄"
            tab_fullscreen_indicator "⛶"
            tab_floating_indicator   "⧉"

            tab_rename              "#[bg=#458588,fg=#ebdbb2,bold] {index} {name} {floating_indicator} "

            tab_display_count         "9"
            tab_truncate_start_format "#[fg=#fabd2f] ≪ +{count} "
            tab_truncate_end_format   "#[fg=#fabd2f]  +{count} ≫"


            datetime        "#[fg=#a89984,bold] {format} "
            datetime_format "%H:%M:%S"
            datetime_timezone "America/Bogota"
        }
    }
}
